/*
2 экран
Почва, вода, атмосфера
Проблема и решение (header_
Внизу кнопка Помоги планете (#button_help)
*/
body{
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
#content {
  background: #fff !important;
}

#div_header{
  background: url(dino.webp); /*FIXME: change background!*/
  width:100%;
  height:30%;
}
#header_main{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color:white;
}
/* Заголовок Проблема*/
#header_problem{
  margin-left:10%;
  color:black;
  font-family: 'Montserrat' , sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}
/* Заголовок Решение*/
#header_decision{
  margin-left:10%;
  color:black;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}
#button_help{
  font-size: 24px;
  color:white;
  width:285px;
  height: 52px;
  background: linear-gradient(105.8deg, #fff -29.8%, #83C9EA -29.79%, #0AFB60 117.56%);
  border-radius: 15px;
  text-align: center;
  /*center align*/
  border: none;
  display: block;
  margin: 0 auto;
}
.text{
  margin-left: 10%;
  font-family:'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}