body{
    user-select: none;
    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
}

#content {
  background: #fff !important;
}

#header_main{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
#div_fix{
    border-radius: 15px;
    margin-left:10%;
    margin-right:10%;
    width:80%;
    background: linear-gradient(107.52deg, #6ED2D2 1.19%, #3CE699 98.21%);
    font-family: 'Montserrat', sans-serif;
    color:white;
    padding: 25px 0;
}
#header_fix{
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: 29px;
}
#content_fix{
    margin: auto 10%;
}
#plus{
    /*width:0%; */
    margin-left:20%;
    font-family:'Montserrat', sans-serif;
    font-style:normal;
    font-weight:600;
    font-size:40px;
    line-height:49px;
    text-align:center;
    color:#000000;
}
#img{
    width: 100%;
    height: 220px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 20px 20px;
}
#map{
    /*background: grey; */
    margin-left:5%;
    margin-right:5%;
    width:80%;
    height:30%;
}
#text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin: 20px;
}
#batteries{
    display:inline-flex;
}
.img_battery{
    width: 40px;
    height: 40px;
    background: url(battery.jpg);
    border-radius: 10px;
}
.fact{
    color:#FF9533;
}