body{
  margin: 0;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-family: 'Montserrat', sans-serif;
}

#content {
  background: url(bg.png);
}

#tasks {
  background-color: #fff;
  border-radius: 15px 15px 0 0;
}

#header_earth{
  padding-top: 15px;
  text-align:center;
  font-weight: 500;
  line-height: 29px;
  color:white;
}
#div_earth{
  font-size:24px;
  color:black;
  font-style:normal;
  border-radius: 50%;
}
#img_earth{
  /* center align */
  display: block;
  width: 33%;
  height: auto;
  margin: 0 auto;
}
#header_tasks{
  padding-top: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px; /* 24 px == 1.5 em*/
  line-height: 29px;
  text-align: center;
  color: #39267E;
}
.progress{
  display: block;
  padding: 15px;
  margin: 10px auto;
  border-radius: 15px;
  font-size: 14px;
  color: #fff;
  width: 50%;
  min-width: 200px;
  background: linear-gradient(89.2deg,#6fd2d3 .22%,#3be797 99.78%);
  box-shadow: 0 0 10px rgba(0,0,0,.15);
}
.line{
  border: 1px solid #ffffff99;
  border-radius: 5px;
  display: inline;
  margin: 0 6px 0 3px;
}

.bold {
  font-weight: bold;
}